pkgbase = dziwak-git
	pkgdesc = Lightweight GIMP-style raster image editor in Rust for Wayland (Omarchy), with local CPU background removal
	pkgver = 0.1.0.r22.g3d0f92b
	pkgrel = 1
	url = https://github.com/wasyleque/dziwak
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = libglvnd
	depends = libxkbcommon
	depends = wayland
	depends = fontconfig
	depends = xdg-desktop-portal
	depends = hicolor-icon-theme
	optdepends = noto-fonts: default font for the Text tool
	provides = dziwak
	conflicts = dziwak
	noextract = u2netp.onnx
	options = !debug
	source = dziwak::git+https://github.com/wasyleque/dziwak.git
	source = u2netp.onnx::https://github.com/danielgatis/rembg/releases/download/v0.0.0/u2netp.onnx
	sha256sums = SKIP
	sha256sums = 309c8469258dda742793dce0ebea8e6dd393174f89934733ecc8b14c76f4ddd8

pkgname = dziwak-git
