[Desktop Entry]
Type=Application
Name=Dziwak
GenericName=Edytor grafiki
Comment=Lekki edytor grafiki rastrowej
Exec=dziwak %f
Icon=dziwak
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=image/png;image/jpeg;image/webp;application/x-dziwak;
StartupWMClass=dziwak
Keywords=grafika;obraz;rysowanie;gimp;
